jax==7.1.1
jaxlib==7.1.1
absl-py
chex
dm-haiku==0.0.16
dm-tree
filelock
jax-triton
jaxtyping
jmp
ml-dtypes
numpy
opt-einsum
pillow
rdkit
scipy
tabulate
toolz
tqdm
triton
typeguard
typing-extensions
zstandard
