jax==0.8.2
jaxlib==0.8.2
absl-py==2.3.1
chex==0.1.91
dm-haiku==0.0.16
jaxtyping==0.3.5
jmp==0.0.4
ml-dtypes==0.5.4
numpy==2.4.1
opt-einsum==3.4.0
pillow==12.1.0
rdkit==2025.9.4
scipy==1.17.0
tabulate==0.9.0
toolz==1.1.0
tqdm==4.67.0
typeguard==2.13.3
typing-extensions==4.15.0
zstandard==0.25.0
