absl-py==2.3.1 
aiofiles==25.1.0 
aiohappyeyeballs==2.6.1 
aiohttp==3.13.3 
aiosignal==1.4.0 
annotated-types==0.7.0 
astunparse==1.6.3 
attrs==25.4.0 
certifi==2026.1.4 
charset-normalizer==3.4.4 
cheroot==11.1.2 
chex 
decorator==5.2.1 
dm-haiku==0.0.16 
einshape==1.0 
etils==1.13.0 
flatbuffers==25.12.19 
flax 
frozenlist==1.8.0 
fsspec==2025.12.0 
gast==0.7.0 
gcsfs==2025.12.0 
google-api-core==2.29.0 
google-auth==2.47.0 
google-auth-oauthlib==1.2.2 
google-cloud-core==2.5.0 
google-cloud-storage==3.7.0 
google-cloud-storage-control==1.8.0 
google-crc32c==1.8.0 
google-pasta==0.2.0 
google-resumable-media==2.8.0 
googleapis-common-protos==1.72.0 
grpc-google-iam-v1==0.14.3 
grpcio==1.76.0 
grpcio-status==1.76.0 
gviz-api==1.10.0 
h5py==3.15.1 
humanize==4.15.0 
idna==3.11 
immutabledict==4.2.2 
importlib-resources==6.5.2 
jaraco-functools==4.4.0 
jax==0.8.0
jaxlib==0.8.0
jaxtyping==0.3.5 
jmp==0.0.4 
keras==3.13.0 
libclang==18.1.1 
markdown==3.10 
markdown-it-py==4.0.0 
markupsafe==3.0.3 
mdurl==0.1.2 
ml-dtypes==0.5.4 
more-itertools==10.8.0 
msgpack==1.1.2 
multidict==6.7.0 
namex==0.1.0 
nest-asyncio==1.6.0
numpy==2.4.0 
oauthlib==3.3.1 
opt-einsum==3.4.0 
optax==0.2.6 
optree==0.18.0 
orbax-checkpoint==0.11.31 
packaging==25.0 
pillow==12.1.0 
propcache==0.4.1 
proto-plus==1.27.0 
protobuf==6.33.2 
psutil==7.2.1
pyasn1==0.6.1 
pyasn1-modules==0.4.2
pydantic==2.12.5
pydantic-core==2.41.5 
pygments==2.19.2 
pyyaml==6.0.3 
qwix==0.1.5 
rdkit==2024.3.5 
requests==2.32.5 
requests-oauthlib==2.0.0 
rich==14.2.0 
rsa==4.9.1 
scipy==1.16.3 
setuptools==78.1.0 
simplejson==3.20.2 
six==1.17.0 
tabulate==0.9.0 
tensorboard==2.20.0 
tensorboard-data-server==0.7.2 
tensorflow==2.20.0 
tensorstore==0.1.80 
termcolor==3.3.0 
toolz==1.1.0 
tqdm==4.67.1 
treescope==0.1.10 
typeguard==2.13.3 
typing-extensions==4.15.0 
typing-inspection==0.4.2 
urllib3==2.6.3 
wadler-lindig==0.1.7 
werkzeug==3.1.5 
wheel==0.46.1 
wrapt==2.0.1 
xprof==2.21.3 
yarl==1.22.0 
zipp==3.23.0 
zstandard==0.25.0 
